@model NutraBioticsBackend.Models.CashHeader

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HeadNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocTranAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocTranAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Custnum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Custnum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TranDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TranDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliedAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliedAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocAppliedAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocAppliedAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CashHeaderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
