@model IEnumerable<NutraBioticsBackend.Models.User>
@using GridMvc.Html

@{
    ViewBag.Title = "Usuarios";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "", new { @class = "btn btn-Nutra" })
</p>


@Html.Grid(Model).Named("UsersGrid").Columns(columns =>
{
    columns.Add(u => u.Company.Name).Titled("Compañia").SetWidth(110).Sortable(true);

    columns.Add(u => u.Plant.PlantDescription).Titled("Planta").SetWidth(110).Sortable(true);

    columns.Add(u => u.Vendor.VendorName).Titled("Vendedor").SetWidth(110);

    columns.Add(u => u.FirstName).Titled("Nombres").SetWidth(110).Filterable(true).Sortable(true);

    columns.Add(u => u.LastName).Titled("Apellidos").SetWidth(110);

    columns.Add(u => u.Email).Titled("Email").SetWidth(110);

    columns.Add(u => u.IMEI).Titled("IMEI").SetWidth(110);

    columns.Add(u => u.Country.Description).Titled("Pais").SetWidth(110);

    columns.Add(u => u.State).Titled("Departamento").SetWidth(110);

    columns.Add(u => u.City).Titled("Ciudad").SetWidth(110);

    columns.Add(u => u.Address1).Titled("Direccion").SetWidth(110);

    columns.Add(u => u.PhoneNumber).Titled("Telefono").SetWidth(110);



    columns.Add().Encoded(false).Sanitized(false).SetWidth(30)
        .RenderValueAs(u => @Html.ActionLink("Editar", "Edit", new { id = u.UserId }, new { @class = "btn btn-Nutra" }));


}).WithPaging(20)

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>

    }